<!DOCTYPE html>
<html>
    <head>
        <meta charset="gbk"/>
        <title>首页</title>
        <meta name="description" content="女朋友礼物导购"/>
        <meta name="keywords" content="女朋友礼物导购"/>
        <link rel="stylesheet" href="/css/global/merge.css"/>
        <base target="_blank">
    </head>
    <body>
        <header>
            
        </header>
        <div id="content">
            <%= goodsList.dress %>
            <form action="/special/create" method="post">
                <input type="hidden" name="goodsIds" value="<%= goodsList.dress[3]['_id'] %>,<%= goodsList.tShirt[3]['_id'] %>,<%= goodsList.bag[3]['_id'] %>,<%= goodsList.staffToys[3]['_id'] %>,<%= goodsList.sandal[3]['_id'] %>,<%= goodsList.trousers[3]['_id'] %>,<%= goodsList.necklace[3]['_id'] %>,<%= goodsList.flower[3]['_id'] %>,<%= goodsList.lowShoes[3]['_id'] %>,<%= goodsList.bracelet[3]['_id'] %>"/>
                <button type="submit">生成专场</button>
            </form>
        </div>
        <footer>

        </footer>
        <script src="/js/global/merge.js"></script>
        <script src="/js/module/beacon.js"></script>
    </body>
</html>