<!DOCTYPE html>
<html>
    <head>
        <meta charset="gbk"/>
        <title>首页</title>
        <meta name="description" content="女朋友礼物导购"/>
        <meta name="keywords" content="女朋友礼物导购"/>
        <link rel="stylesheet" href="/css/global/merge.css"/>
		<link href="http://mui.tmall.net/src/step/step.css" rel="stylesheet">
		<script src="http://a.tbcdn.cn/s/kissy/1.3.0rc/kissy.js"></script>
		<script>
			KISSY.config({
				combine:false,
				debug: true,
				packages:[{
					name: "remeos",
					debug:true,
					path: "/js/",
					tag: "20120815",
					charset: "utf-8"
				}]
			});
		</script>
		<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-34200985-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
    </head>
	
    <body>
	
	

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">致命罗密欧</a>
          <div class="nav-collapse">
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
	
	

    <div class="container">
			
			
		<!-- {{{ steps 4-1 -->
		<div class="ui-step-4">
			<ol class="ui-step-bar">
				<li class="ui-step-start-cur">
					<dl>
						<dt>
							<strong>
								<span class="ui-step-no">
									1
								</span>
								<em class="ui-step-name">
									挑选商品
								</em>
							</strong>
						</dt>
						<dd class="ui-step-status">
						</dd>
					</dl>
				</li>
				<li class="">
					<dl>
						<dt>
							<span class="ui-step-no">
								2
							</span>
							<em class="ui-step-name">
								生成专题页
							</em>
						</dt>
						<dd class="ui-step-status">
						</dd>
					</dl>
				</li>
				<li class="">
					<dl>
						<dt>
							<span class="ui-step-no">
								3
							</span>
							<em class="ui-step-name">
								让她挑选
							</em>
						</dt>
						<dd class="ui-step-status">
						</dd>
					</dl>
				</li>
				<li class="ui-step-end">
					<dl>
						<dt>
							<span class="ui-step-no">
								4
							</span>
							<em class="ui-step-name">
								查看结果
							</em>
						</dt>
						<dd class="ui-step-status">
						</dd>
					</dl>
				</li>
			</ol>
		</div>
		<!-- steps 4-1 }}} -->


	<div class="row-fluid">
		
		<div class="span9">
		<!-- 
			<form class="well form-inline">
				<select id="select01">
					<option>请选择年龄层次</option>
					<option>13 - 18</option>
					<option>18 - 25</option>
					<option>25 - 30</option>
					<option>30 - 40</option>
					<option>40 - 50</option>
					<option>50以上</option>
				</select>
				<select id="select01">
					<option>请选择所在地区</option>
					<option>江浙沪</option>
				</select>
				<input type="text" class="input-small" placeholder="关键字">
				<button type="submit" class="btn">筛 选</button>
			</form>
		-->

			<%
				var t = {
					dress:"裙子",
					tShirt:"T恤",
					bag: "包",
					staffToys: "玩具",
					sandal: "鞋子",
					trousers: "裤子",
					necklace: "项链",
					flower: "鲜花",
					lowShoes: "单鞋",
					bracelet: "手镯"
				},
				count = 0,
				f = 0 ;
			%>
		
		
			<div id="J_Gtype" class="ks-tabs">
				<ul class="ks-switchable-nav nav nav-tabs">
									
					<% for(var a in t){ %>
						<li class="ks-tabs-tab <% if(count++=== 0){ %>active<% }%>	"><a href="#"><%= t[a]%></a></li>
					<% } %>
				</ul>
						
				<div class="ks-switchable-content"  id="J_Goods">

				
						<% for(var a in t){ %>
							<% count=0 %>
							<div class="ks-tabs-panel" <% if(f++!==0){ %>style="display:none"<% }%> >
							<ul class="thumbnails">
								<% goodsList[a].forEach(function(item){ %>
									<li class="span3"  data-id="<%= item['_id'] %>">
										<div class="thumbnail">
											<div class="img"><a target="_blank" href="http://detail.tmall.com/item.htm?id=<%= item.auction_id %>"><img width="220" src="http://img03.taobaocdn.com/bao/uploaded/<%= item['picture_url'] %>_210x210.jpg" alt=""></a></div>
											<div class="caption">
												<p class="title"><a target="_blank" href="http://detail.tmall.com/item.htm?id=<%= item.auction_id %>"><%= item['title'] %></a></p>
												<p class="buy"><span class="price">¥ <b><%= item.price %></b></span>  <a href="#" class="btn btn-info J_Add">加入专题页</a></p>
											</div>
										</div>
										<div class="ext">
											<span class="num"><%= item.cnt %> 人也喜欢</span>
										</div>
										
									</li>
									<% count++ %>
									<% if(count%4 == 0){ %>
										</ul>
										<ul class="thumbnails">
									<% }%>	
								<% }) %>
							</ul>
							</div>
						<% } %>
					
				</div>
			</div>

			
			
		</div>
		<div class="span3">
			
			<div class="goodslist">
			
				<div class="alert alert-info">
				请从左侧选择你感兴趣的商品
				</div>
			
				<!--商品暂存-->
				<ul id="J_Cache">
				</ul>
					

				<form action="/special/create" method="post" id="J_form">
					<input type="hidden" name="goodsIds" value="" id="J_ids" />
					<div class="alert">
						<p>请从左侧添加你感兴趣的商品，我们将使用你选择的商品生成个性专题页面。</p>
						<p><button id="J_Submit" class="btn btn-large btn-inverse">生成专题页面</button></p>
					</div>
				</form>	
				
			</div>
		
		</div>
	</div>


	
    </div> <!-- /container -->

	


	<script>
		KISSY.use("remeos/index", function(S,Init){
			Init();
		});
	</script>

	

    </body>
</html>