<!DOCTYPE html>
<html>
    <head>
        <meta charset="gbk"/>
        <title>首页</title>
        <meta name="description" content="女朋友礼物导购"/>
        <meta name="keywords" content="女朋友礼物导购"/>
        <link rel="stylesheet" href="/css/global/merge.css"/>
    </head>
    <body>
        <header>
            
        </header>
        <div id="content">
            <table>
                <tbody>
                    <% for(var i=0,l=goodsList.length;i<l;i++){ %>
                    <tr>
                        <td><%= goodsList[i].title %></td>
                        <td><%= goodsList[i].auction_id %></td>
                        <td><%= goodsList[i].price %></td>
                        <td><%= goodsList[i].picture_url %></td>
                        <td><%= goodsList[i].cnt %></td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
        <footer>

        </footer>
        <script src="/js/global/merge.js"></script>
    </body>
</html>