<!DOCTYPE html>
<html>
    <head>
        <meta charset="gbk"/>
        <title>预览</title>
        <meta name="description" content="女朋友礼物导购"/>
        <meta name="keywords" content="女朋友礼物导购"/>
        <link rel="stylesheet" href="/css/global/merge.css"/>
		<link href="http://mui.tmall.net/src/step/step.css" rel="stylesheet">
		<script src="http://a.tbcdn.cn/s/kissy/1.3.0rc/kissy.js"></script>
		<script>
			KISSY.config({
				combine:false,
				debug: true,
				packages:[{
					name: "remeos",
					debug:true,
					path: "/js/",
					tag: "20120815",
					charset: "utf-8"
				}]
			});
		</script>
        <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-34200985-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
    </head>
	
    <body>
	
	
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">致命罗密欧</a>
          <div class="nav-collapse">
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
		
		
	
    <div class="container">
        <!-- {{{ steps 4-1 -->
        <div class="ui-step-4">
            <ol class="ui-step-bar">
                <li class="ui-step-start-done">
                    <dl>
                        <dt>
                            <strong>
                                <span class="ui-step-no">
                                    1
                                </span>
                                <em class="ui-step-name">
                                    挑选商品
                                </em>
                            </strong>
                        </dt>
                        <dd class="ui-step-status">
                        </dd>
                    </dl>
                </li>
                <li class="ui-step-cur">
                    <dl>
                        <dt>
                            <span class="ui-step-no">
                                2
                            </span>
                            <em class="ui-step-name">
                                生成专题页
                            </em>
                        </dt>
                        <dd class="ui-step-status">
                        </dd>
                    </dl>
                </li>
                <li class="">
                    <dl>
                        <dt>
                            <span class="ui-step-no">
                                3
                            </span>
                            <em class="ui-step-name">
                                让她挑选
                            </em>
                        </dt>
                        <dd class="ui-step-status">
                        </dd>
                    </dl>
                </li>
                <li class="ui-step-end">
                    <dl>
                        <dt>
                            <span class="ui-step-no">
                                4
                            </span>
                            <em class="ui-step-name">
                                查看结果
                            </em>
                        </dt>
                        <dd class="ui-step-status">
                        </dd>
                    </dl>
                </li>
            </ol>
        </div>
        <!-- steps 4-1 }}} -->


				<% if(goodsList.length){ %>			
					<div class="alert alert-success">
						<strong>访问链接；</strong> <em> <a target="_blank" href="/special/<%= pageId %>">http://<%= host %>/special/<%= pageId %></a></em>  <span class="muted">将该链接发给你心仪的对方，我们的系统会帮你判断她喜欢哪一款礼物。</span>  
						<a class="btn" href="/beacon/<%= pageId %>"><i class="icon-refresh"></i> 查看结果</a>
					</div>

                    <ul id="J_Goods" class="thumbnails ks-tabs-panel">
                        <% for(var i=0,l=goodsList.length;i<l;i++){ %>
                        <li class="span3"  data-id="<%= goodsList[i].auction_id %>">
                            <div class="thumbnail">
                                <a href="http://detail.tmall.com/item.htm?id=<%= goodsList[i].auction_id %>">
                                <img src="http://img03.taobaocdn.com/bao/uploaded/<%= goodsList[i].picture_url %>" alt=""></a>
                                <div class="caption">
                                    <p class="title"><a href="http://detail.tmall.com/item.htm?id=<%= goodsList[i].auction_id %>"><%= goodsList[i].title %></a></p>
                                </div>
                            </div>
                        </li>   
                        <% } %>
                    </ul>
                 <% } %>   
            
        
        

    
    </div> <!-- /container -->

    


    <script>
        //KISSY.use("remeos/preview", function(S,Init){
        //    Init();
        //});
    </script>

    
    

  </body>
</html>
