 <!DOCTYPE html>
<html>
    <head>
        <meta charset="gbk"/>
        <title>专题页</title>
        <meta name="description" content="女朋友礼物导购"/>
        <meta name="keywords" content="女朋友礼物导购"/>
        <link rel="stylesheet" href="/css/global/merge.css"/>
		<link href="http://mui.tmall.net/src/step/step.css" rel="stylesheet">
		<script src="http://a.tbcdn.cn/s/kissy/1.3.0rc/kissy.js"></script>
		<script>
			KISSY.config({
				combine:false,
				debug: true,
				packages:[{
					name: "remeos",
					debug:true,
					path: "/js/",
					tag: "20120815",
					charset: "utf-8"
				}]
			});
		</script>
        <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-34200985-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
    </head>
	
    <body class="theme">
	


	<div  class="container gl" > 
		<ul class="thumbnails ks-tabs-panel"> 
			 
			<li class="span3" data-id="15868268842"> 
				<div class="thumbnail"> 
					<a  target="_blank" href="http://item.taobao.com/item.htm?spm=1020.3.9.138&id=14719540688&from="> 
					<img src="http://img02.taobaocdn.com/bao/uploaded/i2/T1BfjoXdRnXXXQPCk6_062700.jpg_310x310.jpg" alt=""></a> 
					<div class="caption"> 
						<p class="title"><a  target="_blank" href="http://item.taobao.com/item.htm?spm=1020.3.9.138&id=14719540688&from=">Samsung/三星 Galaxy Note I9220,5.3寸极速智能手机</a></p> 
					</div> 
				</div> 
			</li>   

			<li class="span3" data-id="15868268842"> 
				<div class="thumbnail"> 
					<a  target="_blank" href="http://item.taobao.com/item.htm?id=15271158875"> 
					<img src="http://img01.taobaocdn.com/bao/uploaded/i1/T1KgrfXbNXXXXafngV_022027.jpg_310x310.jpg" alt=""></a> 
					<div class="caption"> 
						<p class="title"><a  target="_blank" href="http://item.taobao.com/item.htm?id=15271158875">Samsung/三星 I9100 Galaxy S2 双核手机送原电+大礼包 当天发货</a></p> 
					</div> 
				</div> 
			</li> 

			<li class="span3" data-id="15868268842"> 
				<div class="thumbnail"> 
					<a  target="_blank" href="http://item.taobao.com/item.htm?spm=1020.3.9.73&id=13394393089&from="> 
					<img src="http://img03.taobaocdn.com/bao/uploaded/i3/T1U9GkXXlHXXXCAYrX_114324.jpg_310x310.jpg" alt=""></a> 
					<div class="caption"> 
						<p class="title"><a  target="_blank" href="http://item.taobao.com/item.htm?spm=1020.3.9.73&id=13394393089&from=">Samsung/三星 Galaxy Tab P7510(16G) 安卓3.1 国行联保 原封包邮</a></p> 
					</div> 
				</div> 
			</li> 
			
			<li class="span3" data-id="15868268842"> 
				<div class="thumbnail"> 
					<a  target="_blank" href="http://detail.tmall.com/item.htm?spm=a2106.m872.1000384.d12&id=16585944325&pm2=2&source=dou&scm=1029.0.1.0"> 
					<img src="http://img04.taobaocdn.com/bao/uploaded/i4/T1LAYsXo4jXXcfkngZ_033536.jpg_310x310.jpg" alt=""></a> 
					<div class="caption"> 
						<p class="title"><a  target="_blank" href="http://detail.tmall.com/item.htm?spm=a2106.m872.1000384.d12&id=16585944325&pm2=2&source=dou&scm=1029.0.1.0">限量版 微绅 I1 Cross Over Paul Frank无线鼠标大嘴猴 赠8GTF卡</a></p> 
					</div> 
				</div> 
			</li>
			
			
			
			
		</ul> 
    </div>
	<% if(goodsList.length){ %>    
	<div id="J_List" class="container gl" data-page-id="<%= pageId %>">
		<ul id="J_Goods" class="thumbnails ks-tabs-panel">
			<% for(var i=0,l=goodsList.length;i<l;i++){ %>
			<li class="span3"  data-id="<%= goodsList[i].auction_id %>">
				<div class="thumbnail">
					<a data-id="<%= goodsList[i].auction_id %>" data-goods-id="<%= goodsList[i]._id %>" target="_blank" href="http://detail.tmall.com/item.htm?id=<%= goodsList[i].auction_id %>">
					<img data-id="<%= goodsList[i].auction_id %>" src="http://img03.taobaocdn.com/bao/uploaded/<%= goodsList[i].picture_url %>" alt=""></a>
					<div class="caption">
						<p class="title"><a data-id="<%= goodsList[i].auction_id %>" data-goods-id="<%= goodsList[i]._id %>" target="_blank" href="http://detail.tmall.com/item.htm?id=<%= goodsList[i].auction_id %>"><%= goodsList[i].title %></a></p>
					</div>
				</div>
			</li>   
			<% } %>
		</ul>

    </div> <!-- /container -->
    <% } %>
    
    <script src="/js/global/merge.js"></script>
    <script src="/js/module/beacon.js"></script>
    <script>
        KISSY.use("remeos/special", function(S,Init){
            Init({
				target: "#J_List",
				url:"/beacon/track",
				id: "<%= pageId %>"
			});
        });
    </script>

    
    

  </body>
</html>




