 <!DOCTYPE html>
<html>
    <head>
        <meta charset="gbk"/>
        <title>专题页</title>
        <meta name="description" content="女朋友礼物导购"/>
        <meta name="keywords" content="女朋友礼物导购"/>
        <link rel="stylesheet" href="/css/global/merge.css"/>
		<link href="http://mui.tmall.net/src/step/step.css" rel="stylesheet">
		<script src="http://a.tbcdn.cn/s/kissy/1.3.0rc/kissy.js"></script>
		<script>
			KISSY.config({
				combine:false,
				debug: true,
				packages:[{
					name: "remeos",
					debug:true,
					path: "/js/",
					tag: "20120815",
					charset: "utf-8"
				}]
			});
		</script>
    </head>
	
    <body class="theme">
	
    
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">致命罗密欧</a>
          <div class="nav-collapse">
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>				
	<div id="J_List" class="container gl">
		<ul id="J_Goods" class="thumbnails ks-tabs-panel">
			<% for(var i=0,l=goodsList.length;i<l;i++){ %>
			<li class="span3"  data-id="<%= goodsList[i].auction_id %>">
				<div class="thumbnail">
					<a target="_blank" href="http://detail.tmall.com/item.htm?id=<%= goodsList[i].auction_id %>">
					<img src="http://img03.taobaocdn.com/bao/uploaded/<%= goodsList[i].picture_url %>" alt=""></a>
					<div class="caption">
						<p class="title"><a  target="_blank" href="http://detail.tmall.com/item.htm?id=<%= goodsList[i].auction_id %>"><%= goodsList[i].title %></a></p>
					</div>
				</div>
			</li>   
			<% } %>
		</ul>

    </div> <!-- /container -->

    
    <script src="/js/global/merge.js"></script>
    <script src="/js/module/beacon.js"></script>
    <script>
        KISSY.use("remeos/special", function(S,Init){
            Init({
				target: "#J_List",
				url:"/beacon/track",
				id: "<%= pageId %>"
			});
        });
    </script>

    
    

  </body>
</html>




